
server:
  port: 9002
  servlet:
    context-path: /specification
eureka:
  client:
    serviceUrl:
      defaultZone: http://192.168.200.128:8761/eureka/

spring:
  application:
    #Open Feign报错Service id not legal hostname的原因是服务名称不能带有下划线，可以使用中划线
    name: specification-service
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
#打印jpa sql参数
logging:
  level:
    org.springframework.security:
      - debug
      - info
    org.springframework.web: error
    org.hibernate.SQL: debug
    org.hibernate.engine.QueryParameters: debug
    org.hibernate.engine.query.HQLQueryPlan: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

